body{
	font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	color: #777777;
	background-image: url(../images/hypnotize.png);
}

header{
	font-family: "Georgia","Times","Times New Roman", serif;
}

.teal-background{
	background-color: #4aaaa5;
	color: white;
	font-size: 24px;
	font-weight: large;
	font-weight: bold;
}

.teal-text{
	color: #4aaaa5;
	font-weight: bold;
}

.main-header{
	background-color: #ffffff;
	border-color: #cccccc;
	border-bottom: 1px;
	border-style: solid;
	height: 75px;
}

.footer{
	background-color: #666666;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 50px;
	border: 10px;
	border-color: #4aaaa5;
	border-top-style: solid;
	color: lightgrey;
}

.all-content{
	clear: both;
	width: 960px;
	margin: 0 auto;
}

.content{
	background-color: #ffffff;
	color: #dddddd;
	font-size: 20px;
	line-height: 25px;
	border:1px;
	border-style: solid;
}

.bottom-border{
	border-bottom: 1px;
	border-style: solid;
	border-color: lightgrey;
}

.right-border{
	border-right: 1px;
	border-style: solid;
	border-color: lightgrey;
}

.margin-main{
	margin: 15px 20px 20px 20px;
}

.side-bar{
	width: 270px;
	height: 150px;
	margin-top: 50px;
	color: #777777;
	float: left;
}

.text-right{
	clear: both;
	text-align: right;
}

.text-center{
	text-align: center;
	margin: 0 auto;
	padding: 25px 10px 25px 10px;
}

.text-left{
	text-align: left;
}

.main-section{
	width: 650px;
	height: 590px;
	margin: 50px 20px 50px 0px;
	color: #777777;
	float: left;
}

.image{
	height: 215px;
	float: left;
	margin-right: 10px;
	margin-bottom: 2px;
}

.image-small {
	clear: both;
	height: 70px;
	width: 70px;
}

.image-md{
	clear: both;
	height: 215px;
	width: 180px;
}

.float-left{
	float: left;
	height: 75px;
}

.float-right{
	float: right;
	padding-right: 20px;
	padding-top: 30px;
}

.inputbox-small{
	clear: both;
	width: 500px;
}

.inputbox-large{
	clear: both;
	height: 300px;
	width: 600px;
}