body{
	font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
	color: #777777;
	width: 960px;
}

header{
	font-family: "Georgia","Times","Times New Roman","serif";
}

.teal-background{
	background-color: #4aaaa5;
}

.teal-text{
	color: #4aaaa5;
}

.main-header{
	background: #fff;
	border-color: #ccc;
}

.footer{
	background: #666;
}

.main-content{
	background: #fff;
	color: #ddd;
}

.side-bar{
	width: 270px;
}